In [1]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser
import folium
from folium import plugins

In [ ]:
#시각화할 지도

#자치구
state_geo = 'https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json'
#행정동
state_geo2='https://raw.githubusercontent.com/vuski/admdongkor/master/ver20220309/HangJeongDong_ver20220309.geojson'

In [3]:
#자치구
df_goo=pd.read_excel('fin_dataset_goo.xlsx')
df_goo

,goo_nm,goo_area,sum_pop,sum_hh,one_hh,one_ratio,cc_value,count_zero,count_market,count_univ,count_bus,count_station,sum_bus,sum_station,sum_order,sum_waste
0,강남구,39.51,544055,208833,58663,0.107825,457,0,46,1,552,22,102636377,107653238,68999,5556.9
1,강동구,24.58,463998,177148,39486,0.085100,414,3,21,0,396,10,34783737,34193728,50316,2766.3
2,강북구,23.60,311569,129805,32979,0.105848,320,0,17,0,412,11,57437812,25855961,45685,838.3
3,강서구,41.44,585901,244097,69879,0.119268,548,1,22,2,619,16,55236175,43691763,86172,4928.8
4,관악구,29.57,509803,248959,115556,0.226668,460,2,24,1,490,6,89607537,61049638,129233,1631.4
5,광진구,17.06,360109,152090,54100,0.150232,343,1,23,3,292,9,32782959,48074042,62301,1584.9
6,구로구,20.12,432488,164083,40152,0.092840,187,0,24,3,480,10,60262348,53472371,50971,1278.5
7,금천구,13.02,247835,103432,34714,0.140069,126,0,20,0,354,3,44554050,18515469,42334,3794.8
8,노원구,35.56,527032,202695,38700,0.073430,441,1,19,5,535,12,49940954,45054621,56438,1108.3
9,도봉구,20.46,327361,127362,24178,0.073857,370,0,12,1,366,6,38499802,22486646,34884,1290.8
10,동대문구,13.86,357014,150373,49853,0.139639,127,1,23,4,315,8,62280433,28906793,60925,3237.0
11,동작구,15.72,401572,167766,54179,0.134917,227,6,13,3,448,12,62123031,34784909,64101,1289.4
12,마포구,23.81,381858,160681,54603,0.142993,350,4,25,3,580,14,63596542,59211585,63172,1645.7
13,서대문구,18.54,322952,133112,40963,0.126839,140,4,19,9,458,6,66788325,22385908,49863,782.8
14,서초구,46.05,429025,156123,37049,0.086356,168,1,25,3,636,14,77685194,84761659,43942,2378.1
15,성동구,18.20,300505,122186,35224,0.117216,271,3,18,2,461,14,33859604,40945961,42585,2339.1
16,성북구,23.53,447056,179660,49739,0.111259,211,3,27,7,610,11,75003535,30025227,61510,1195.1
17,송파구,33.75,673926,255766,61368,0.091060,500,3,36,1,450,23,66576881,72306079,73694,4271.9
18,양천구,17.79,457781,166044,28589,0.062451,439,2,19,0,332,8,49361883,24357774,39436,1251.5
19,영등포구,24.74,407367,162391,53965,0.132473,231,2,26,0,505,15,68304871,70041768,64000,2156.3
20,용산구,22.02,244645,95714,30487,0.124617,109,2,22,2,353,10,49919714,36607700,36881,1052.6
21,은평구,29.93,484043,190631,43834,0.090558,305,3,17,1,501,10,61191814,33655542,57853,2156.3
22,종로구,23.91,158996,63414,21085,0.132613,153,1,16,4,385,10,66304473,52601901,25983,953.9
23,중구,9.96,134635,55093,18292,0.135864,39,2,54,2,213,14,45014709,75652288,22818,1553.7
24,중랑구,18.50,399562,164832,43325,0.108431,363,1,11,1,382,7,45396944,16648966,56605,1206.0

In [4]:
#행정동
df_dong=pd.read_excel('fin_dataset_dong.xlsx')
df_dong

,gd_nm,goo_nm,dong_nm,dong_ID,dong_area,sum_pop,sum_hh,one_hh,one_ratio,cc_value,...,count_univ,count_bus,count_station,sum_bus,sum_station,sum_trans,sum_order,sum_waste,y,x
0,송파구 가락1동,송파구,가락1동,11710631,1.46,27876,9534,1045,0.037487,0,...,0,10,2,2605376,6434890,9040266,73694,4271.9,37.496537,127.105726
1,송파구 가락2동,송파구,가락2동,11710632,1.34,33204,11482,1892,0.056981,10,...,0,22,2,2181971,3449427,5631398,73694,4271.9,37.498639,127.126488
2,송파구 가락본동,송파구,가락본동,11710620,0.96,27368,10576,2642,0.096536,30,...,0,25,0,3081377,0,3081377,73694,4271.9,37.495585,127.121830
3,구로구 가리봉동,구로구,가리봉동,11530595,0.40,14263,4901,2244,0.157330,10,...,0,10,0,2235038,0,2235038,50971,1278.5,37.482704,126.888019
4,금천구 가산동,금천구,가산동,11545510,2.52,25973,14124,8016,0.308628,30,...,0,105,2,10824582,14509425,25334007,42334,3794.8,37.476681,126.883767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,용산구 효창동,용산구,효창동,11170580,3.01,10326,3922,894,0.086578,0,...,0,14,1,1258577,1545629,2804206,36881,1052.6,37.542828,126.960951
420,용산구 후암동,용산구,후암동,11170510,0.44,18202,7283,2314,0.127129,20,...,0,19,0,1910323,0,1910323,36881,1052.6,37.549901,126.980613
421,동대문구 휘경1동,동대문구,휘경1동,11230720,0.76,15362,6643,2730,0.177711,10,...,0,15,1,3743167,9501588,13244755,60925,3237.0,37.574428,127.039712
422,동대문구 휘경2동,동대문구,휘경2동,11230730,0.63,24992,10915,3915,0.156650,29,...,2,17,0,3812785,0,3812785,60925,3237.0,37.574428,127.039712
423,동작구 흑석동,동작구,흑석동,11590605,1.03,34544,13411,3856,0.111626,18,...,1,50,1,5737486,1856514,7594000,64101,1289.4,37.505492,126.962317

# 자치구별

In [ ]:
# 전체가구수

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='전체가구',
    data=df_goo,
    columns=['goo_nm', 'sum_hh'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'sum_hh'
)

m.save('kr_incode.html')
m

In [ ]:
# 제로마켓 수

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='제로마켓 수',
    data=df_goo,
    columns=['goo_nm', 'count_zero'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'count_zero'
)

m.save('kr_incode.html')
m

In [ ]:
#대규모점포 수

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='제로마켓 수',
    data=df_goo,
    columns=['goo_nm', 'count_market'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'count_market'
)

m.save('kr_incode.html')
m

In [ ]:
# 버스이용객 수

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='버스이용객 수',
    data=df_goo,
    columns=['goo_nm', 'count_bus'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'count_bus'
)

m.save('kr_incode.html')
m

In [ ]:
# 지하철하차 수

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='지하철하차 수',
    data=df_goo,
    columns=['goo_nm', 'count_station'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'count_station'
)

m.save('kr_incode.html')
m

In [ ]:
# 쓰레기양

m = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m.choropleth(
    geo_data=state_geo,
    name='쓰레기양',
    data=df_goo,
    columns=['goo_nm', 'sum_waste'],
    key_on='feature.properties.name',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'sum_waste'
)

m.save('kr_incode.html')
m

# 행정동별

In [ ]:
# 1인가구비율

m2 = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m2.choropleth(
    geo_data=state_geo2,
    name='one_ratio',
    data=df_dong,
    columns=['gd_nm','one_ratio'],
    key_on='feature.properties.temp',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'one_ratio'
)

m2.save('kr_incode.html')
m2

In [ ]:
# 상권변화지수

m2 = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m2.choropleth(
    geo_data=state_geo2,
    name='cc_value',
    data=df_dong,
    columns=['gd_nm', 'cc_value'],
    key_on='feature.properties.temp',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'cc_value'
)

m2.save('kr_incode.html')
m2

In [ ]:
# 대중교통이용 수 

m2 = folium.Map(location=[37.562225, 126.978555], tiles="OpenStreetMap", zoom_start=11)
m2.choropleth(
    geo_data=state_geo2,
    name='sum_trans',
    data=df_dong,
    columns=['gd_nm', 'sum_trans'],
    key_on='feature.properties.temp',
    fill_color='Blues',
    fill_opacity=0.7,
    line_opacity=0.3,
    color = 'gray',
    legend_name = 'sum_trans'
)

m2.save('kr_incode.html')
m2